#root {
    color: white;
    background: hsl(0, 0%, 10%);
}

body, html {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    background: hsl(0, 0%, 10%);
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 138, 230, 0.30);
}

#self .navbar-brand {
    color: white;
}

body .card {
    border-radius: 15px;
    transition: all .3s;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px 1px rgba(0, 138, 230, 0.30);
    background: #202124;
}

body .btn, body .btn:hover, .projects .card-title {
    color: white;
    background-color: rgba(0, 138, 230, 0.30);
}

#self img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.email-info {
    display: none;
    position: absolute;
    left: 0;
    top: 110%;
    font-size: 15px;
}

.email-container.show-info .email-info {
    display: flex;
}